In [2]:
%load_ext autoreload

In [3]:
%autoreload 2
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import pathlib

# messing with the path to get imports working
import sys
sys.path.append(str(pathlib.Path("..").resolve()))

from rtlive import assumptions, data

Importing plotly failed. Interactive plots will not work.

In [3]:
assumptions.generation_time(n_days=30)

array([0.00000000e+00, 7.33148180e-03, 1.03868478e-01, 1.95147643e-01,
       1.93797118e-01, 1.52828476e-01, 1.09576993e-01, 7.54229927e-02,
       5.10921821e-02, 3.44849062e-02, 2.33407210e-02, 1.58958932e-02,
       1.09121047e-02, 7.55711343e-03, 5.28165515e-03, 3.72529635e-03,
       2.65131301e-03, 1.90352772e-03, 1.37822529e-03, 1.00599866e-03,
       7.40014799e-04, 5.48403039e-04, 4.09289125e-04, 3.07532780e-04,
       2.32567920e-04, 1.76961382e-04, 1.35443284e-04, 1.04249379e-04,
       8.06714362e-05, 6.27474302e-05])

In [8]:
%autoreload 2
from rtlive.sources import data_de
country = "DE"
region = "all"
df_raw = data.get_data(country, pd.Timestamp(2021,7,10))
df_raw.tail()

                   new_cases  new_deaths
region date
all    2021-07-04        201           2
       2021-07-05        542           2
       2021-07-06       1018           5
       2021-07-07        930           2
       2021-07-08        934           1

In [5]:
df_region = df_raw.xs(region)
df_region.tail()

            new_cases  new_deaths
date
2021-07-04        201           2
2021-07-05        542           2
2021-07-06       1018           5
2021-07-07        930           2
2021-07-08        934           1

In [6]:
df_final = df_region.loc[:,"new_cases"].reset_index()
df_final.columns = ["date", "I"]
df_final

          date     I
0   2020-03-01    34
1   2020-03-02    40
2   2020-03-03    82
3   2020-03-04   157
4   2020-03-05   186
..         ...   ...
490 2021-07-04   201
491 2021-07-05   542
492 2021-07-06  1018
493 2021-07-07   930
494 2021-07-08   934

[495 rows x 2 columns]

In [24]:
df_final.to_csv(pathlib.Path("../../../incidence_data/rtlive_incid_21_07_10.csv"), index=False)